[buildout]
extends =
    https://raw.github.com/collective/buildout.plonetest/master/test-4.3.x.cfg
    https://raw.github.com/collective/buildout.plonetest/master/qa.cfg
    versions.cfg

package-name = interlegis.intranetmodelo.policy
package-extras = [test]

parts +=
    code-analysis
    i18ndude
    omelette
    rebuild_i18n-sh

[code-analysis]
recipe = plone.recipe.codeanalysis
directory = ${buildout:directory}/src/interlegis/intranetmodelo/policy
pre-commit-hook = True
flake8-ignore = E501
clean-lines = True
deprecated-aliases = True
imports = False
prefer-single-quotes = True
return-status-codes = True
utf8-header = True

[i18ndude]
recipe = zc.recipe.egg
eggs = i18ndude

[omelette]
recipe = collective.recipe.omelette
eggs = ${test:eggs}

[rebuild_i18n-sh]
recipe = collective.recipe.template
url = https://raw.github.com/collective/buildout.plonetest/master/templates/rebuild_i18n.sh.in
output = ${buildout:directory}/bin/rebuild_i18n.sh
mode = 755
